@mixin btn($color:rgb(20, 72, 69), $border:rgb(17, 48, 17)) {
    background-color: transparent;
    color: $color;
    border: 1px solid $border;
}

$color: blue;

h1{
    color: red;
}

p{
    margin: 0;
}

i{
    display: block;
}