$poppin: 'Poppins',
sans-serif;
$green_deep: #00a652;
$green_light: #4cb050;
$grenn_transparent: #ddf0dd;
$black: #404040;
$yellow_deep: #fbb053;
$yellow_light: #ffeacd;
$red_deep: #fe5722;
$red_light: #ffddd3;
$white: #ffffff;