@use "../components/buttons";
@import "../abstracts/variables";
@import "../abstracts/mixins";

header {
    border-top: 2px solid $green_deep;
    padding-top: 10px;
    
    nav {
        @include flex();
        @include flex_wrap();
        @include flex_justify(space-between);

        .left {
            .logo {
                height: 48px;

                img {
                    height: 100%;
                }
            }
        }

        .right {
            @include flex();
            @include flex_wrap();
            @include flex_justify(flex-end);
            @include flex_align(center);

            ul {
                @include flex();
                @include flex_wrap();
                @include flex_justify(flex-end);

                li {
                    a {
                        text-decoration: none;
                        font-family: $poppins;
                        font-weight: bold;
                        text-transform: uppercase;
                        body.theme_1 & {
                            @include buttons.btn($border: transparent);
                        }
                        body.theme_2 & {
                            @include buttons.btn($border: transparent, $color: $white)
                        }
                        
                        @include tr();

                        &:hover {
                            body.theme_1 & {
                                @include buttons.btn_outline('green');
                            }
                            body.theme_2 & {
                                @include buttons.btn_outline('purple', $purple_light, $purple_light, $white);
                            }
                        }
                    }

                    margin: 0px 5px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}