@use "sass:map";
@import "../abstracts/variables";
@import "../abstracts/mixins";

@mixin btn($border: $black, $radius: 5px, $color: $black) {
    color: $color;
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid $border;
    @include border_radius($radius);
}

@mixin btn_outline($btn_style,
    $border: map.get($color_value, $btn_style+'_deep'),
    $background: transparent,
    $color: map.get($color_value, $btn_style+'_deep')) {

    color: $color;
    border: 1px solid $border;
    background: $background;
}

@mixin btn_fill($btn_style, 
    $border: map.get($color_value, $btn_style+'_light'), 
    $background: map.get($color_value, $btn_style+'_light'),
    $color: map.get($color_value, $btn_style+'_deep')
    ) {
    color: $color;
    background-color: $background;
    border: 1px solid $border;
}

@mixin create_button ($btn_name:'', $color, $background_color) {
    @if $btn_name {
        .btn-#{"" +$btn_name} {
            background-color: $color;
            color: $background_color;
        }
    }
}

@each $btn_name in $color_names {
    @include create_button($btn_name, map.get($color_value, $btn_name+'_deep'), map.get($color_value, $btn_name+'_light'));
}