@import "../abstracts/variables";

.common_card{
    border-top: 4px solid $green_deep;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);

    body.theme_2 & {
        background-color: $purple_deep_2;
    }
}